.container {
   max-width: 1100px;
   margin:0 auto; 
}
.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list {
    display: flex;
}
.header__item {
    margin-right: 20px;
    font-family: "Montserrat", sans-serif;
    color: white
}
.header__item:hover {
    color: #00C4F0;
}
.hero-block__button {
    border-radius: 6px;
    box-shadow: 0px 2px 13px 0px rgba(226, 158, 0, 0.48);
    background: linear-gradient(135.00deg, rgb(0, 255, 20) 0%,rgb(62, 91, 166) 0%,rgb(92, 92, 237) 0%,rgb(22, 88, 89) 46.87%,rgb(77, 149, 225) 100%,rgb(113, 202, 10) 100%,rgb(226, 149, 0) 100%); ;
    padding: 10px;
    margin-top: 10px
}
.hero_block__text {
    background: linear-gradient(180.00deg, rgb(239, 233, 233),rgba(239, 233, 233, 0));
-webkit-background-clip:
text;
-webkit-text-fill-color:
transparent;
background-clip:
text;
text-emphasis-color:
transparent;
font-size: 48px;
font-weight: 400;
line-height: 66px;
letter-spacing: 0%;
text-align: center;
font-family: "Montserrat", sans-serif;
}
.container__hero-block {
    display: flex;
}
.hero-block__content {
    width: 500px;
}
.hero-block__description {
    text-shadow: 0px 4px 4px  rgba(242, 242, 242, 0.2)
}
.about__full {
    width: 350px;
    height: 10px;
    background-color: #00C4F0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.about__done {
    width: 190px;
    height: 10px;
    background-color: #2C2C2C;
}
.about__full_2 {
    width: 350px;
    height: 10px;
    background-color: #00C4F0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.about__done_2 {
    width: 300px;
    height: 10px;
    background-color: #2C2C2C;
}
.about__full_3 {
    width: 350px;
    height: 10px;
    background-color: #00C4F0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)

}
.about__done_3 {
    width: 140px;
    height: 10px;
    background-color: #2C2C2C;
}
.about__list {
    list-style: none;
    font-family: "Montserrat", sans-serif;
}
.about__content {
    display: flex;
}
.about {
    background-color: #2E7AB8;
}
.hero-block {
    background-color: #2E7AB8;
}
.about__title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 0;
    text-shadow: 0px 4px  4px rgba(0, 0, 0, 0.25)
}
.about__description {
    font-family: "Montserrat", sans-serif;
    font-size: 200%;
    text-shadow: 0px 0.5px 4px white;
}
.about__title__list {
    text-shadow:  0px 4px 4px  rgba(0, 0, 0, 0.25)
}
.about__title__item {
    text-shadow:  0px 4px 4px  rgba(0, 0, 0, 0.25)
}
.container__video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.video {
    background-color: #2E7AB8;
}
.video__title {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 200%; 
    color: rgb(21, 15, 15);
    margin-top: 0;
    text-shadow:  0px 4px 4px  rgba(0, 0, 0, 0.35)

}
.hero-block__description {
    font-family: "Montserrat", sans-serif;
    font-size: 200%; 
}
.header {
    background-color: #2C2C2C;
    padding: 15px;
}
.header__list {
    color: white;
    list-style: none;
}
.header__name {
    color: white;
    text-align: center;
    transition: 1s;
}
.header__name:hover {
    color: #00C4F0;
    }
.hero-block {
    padding: 50px;
}
.hero-block__bird {
    margin-right: auto;
}
.gallery__img {
width: 100%;
}
.gallery__item {
    width: 30%;
}
.gallery__list {
    display: flex;
    flex-wrap:wrap;
    list-style: none;
    margin-bottom: 0;

}
.gallery__title {
    text-shadow: 
    0px 2px 4px  rgba(0, 0, 0, 0.35);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-top: 0

}
.gallery {
    background-color: #2E7AB8;
}
.container__footer {
    display: flex;
}
.footer {
    background-color: #2C2C2C;
    padding: 15px;
}
.footer__author {
    color: white;
    font-family: "Montserrat", sans-serif;
}
.container__footer {
    justify-content: space-between;
    align-items: center;
}
.footer__allright {
    color: white
}
body {
    margin: 0;
    padding: 0;
}
.hero-block__title {
    font-family: "Montserrat", sans-serif;
    font-size: 200%;
    text-shadow: 0px 4px 4px rgba(242, 242, 242, 0.2)
}
.footer__logotoup {
    width: 25%;
    margin-left: 95%;
}
.footer__logotelegram {
    margin-left: -1125%
}
